{% extends "base.html" %} {% block head_title %} Home {% endblock head_title %}
{% block content %}

<div class='row text-center'>
  <div class='col'>
    <h1>Welcome to tweetme
  </div>
</div>

<div class='row mb-3'>
  <div class='col-md-4 mx-auto col-10'>
    <form id='tweet-create-form' class="form" method="POST" action='/create-tweet/'>
      {% csrf_token %}
      <input type="hidden" value="/" name="next"/>
      <textarea class="form-control" name="content" placeholder="Write your tweet" ></textarea>
      <button type="submit" class="btn btn-primary">Tweet</button>
    </form>
  </div>
</div>

<div class='row' id="tweets"></div>

<script>
  function handleDidLike(tweet_id, currentCount) {
    currentCount++;
  }

  function likeBtn(tweet) {
    return `<button class='btn btn-primary' 
      onclick=handleDidLike(${tweet.id}, ${tweet.likes})>
        Like
      </button>`;
  }

  function formatTweetElement(accumulator, tweet) {
    return `${accumulator}
      <div class='col-12 mb-4' id='tweet-${tweet.id}'>
        <h3>${tweet.id}</h1>
        <div class='btn-group'>${tweet.content} ${likeBtn(tweet)}</div>
      </div>`;
  }

  function loadTweets(tweetsElement){
    const xhr = new XMLHttpRequest();
    const method = 'GET';
    const url = '/tweets';
    const responseType = 'json';

    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = function () {
      var listedItems = xhr.response.response;
      tweetsElement.innerHTML = listedItems.reduce(formatTweetElement, '');
    };
    xhr.onerror = () => {
      console.log('error');
    };
    xhr.send();
  }

  function handleTweetCreateFormDidSubmit(event){
    event.preventDefault();
    const myForm = event.target;
    const myFormData = new FormData(myForm);

    const url = myForm.getAttribute('action');
    const method = myForm.getAttribute('method');
    const xhr = new XMLHttpRequest();
    xhr.open(method, url);
    xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest');
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.onload = () => {
      const serverResponse = xhr.response;
      console.log(serverResponse);
      const tweetsEl = document.getElementById('tweets');
      loadTweets(tweetsEl);
    }

    xhr.send(myFormData);

  }

  const tweetCreateFormEl = document.getElementById('tweet-create-form');

  tweetCreateFormEl.addEventListener('submit', handleTweetCreateFormDidSubmit);

  const tweetsEl = document.getElementById('tweets');
  tweetsEl.innerHTML = 'Loading...';
  loadTweets(tweetsEl);
</script>

{% endblock content %}
